#card{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(450px, 1fr));
    grid-gap: 4rem;
    margin-top: 2rem;
}

.text{
    font-size: 2rem;
    margin-top: 1rem;
}

#home{
    color: black;
    font-size: 1.5rem;
}

#nav{
    color: black;
}